*{
  box-sizing: border-box;
  font-family: PingFangSC-Regular;
//  禁止长按事件
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
body{
  min-height: 100vh;
  background: #EFF0F4;

}
a,a:hover{
  text-decoration: none;
}
input,select,select option{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  outline: none;
}
.none-msg{
  padding-top: 5.066667rem;
  font-size: 0.346667rem;
  text-align: center;
  color: #ACACAC;
}

