*{
  box-sizing: border-box;
  font-family: PingFangSC-Regular;
}
body{
  min-height: 100vh;
  background: #EFF0F4;
}
a,a:hover{
  text-decoration: none;
}
input,select,select option{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  outline: none;
}
input[type=checkbox]{
  width:0.586667rem;
  height:0.586667rem;
  background: url("./assets/img/check_icon.png") no-repeat;
  background-size: 100%;
}
input[type=checkbox]:checked{
  background: url("./assets/img/checked_icon.png") no-repeat;
  background-size: 100%;
}
/*空数据提示*/
.none-msg{
  padding-top: 5.066667rem;
  font-size: 0.346667rem;
  text-align: center;
  color: #ACACAC;
}

